.lessons-container {
    display: flex;
    gap: 20px;
}

.unlocked-lesson-card {
    border-radius: 20px;
    background-color: #8ecae6;
    padding: 10px;
    width: 300px;
    height: 300px;
    box-shadow: 0 30px 80px -30px #535353;
    transition: margin 0.2s ease-in-out;
}

.unlocked-lesson-card:hover {
    margin-top: -6px;
}

.locked-lesson-card {
    color: grey;
    background-color: #8ecae660;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    height: 300px;
    box-shadow: 0 30px 80px -30px #535353;
    transition: margin 0.2s ease-in-out;
}

.locked-lesson-card:hover {
    margin-top: -2px;
}

.lesson-title {
    color: black;
    font-family: "Inter";
    font-size: 2rem;
    margin-top: 0;
    text-decoration: none;
}

.disabled-title {
    cursor: default;
    color: grey;
    font-family: "Inter";
    font-size: 2rem;
    margin-top: 0;
    text-decoration: none;
}

