/* SIGN IN */


/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
}

.kaway-title {
    position: absolute; 
    left: 5vw;
    font-size: 5rem;
}

h1 {
    font-family: 'Poppins', Geneva, Tahoma, sans-serif;
    font-size: 2vw;
}

h2, button, p, a, label {
    font-family: 'Inter', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-weight: 400;
    font-size: 1.5vw;
}

.submit-button {
    background-color: #219EBC;
    color: azure;
    font-size: 1rem;
}

span {
    color: #FB8500;
}

.signin-container {
    display: flex;
    background-color: #8ECAE6;
}

.signin-container > .img-container {
    min-height: 100vh;
    width: 65%;
    position: relative;
    overflow: hidden;
}

.img-container > .img-login {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signin-container > .details-container {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 10vh 40px 0 40px;
    flex-basis: 35%;
    background-color: azure;
    margin-left : -15px;
    z-index: 2;
    display: grid;
    grid-template-rows: min(300px, 20%) min(600px, 80%);
    height: 90vh;
}

.signin-container > .signup-container {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 5vh 40px 5vh 40px;
    flex-basis: 35%;
    background-color: azure;
    margin-left : -15px;
    z-index: 2;
    display: grid;
    grid-template-rows: min(300px, 20%) min(600px, 80%);
    height: 90vh;
}

.greetings, .forms-container {
    text-align: center;
    align-content: center;
}

.forms-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 1.5rem;
}

input {
    height: 4vh;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 8px;
}

label {
    padding-bottom: 5px;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
}

input, label {
    display: block;
}

label {
    text-align: left;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 8px;
}

#forgot-password {
    display: flex;
    justify-content: end;
}

.forms-container a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}



